.editHeroLabel {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
}

.editHeroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.editHeroTitle {
    resize: none;
    font-size: 30px;
    padding: initial .75rem;
    width: 100%;
}

.editHeroSubtitle {
    font-weight: 600;
    font-size: 18px;
    background-color: transparent;
}

.editHeroBtnDiv {
    width: 100px !important;
    min-height: 40px !important;
    height: 40px !important;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.change {
    cursor: pointer;
    background-color: #00ffff;
}

.no-change {
    cursor: not-allowed;
}

@media screen and (min-width:1000px) {
    .editHeroContainer {
        width: 60%;
        margin-top: 0;
        text-align: left;
    }

    .editHeroTitle {
        font-size: 60px;
    }

    .editHeroSubtitle {
        width: 74%;
    }
}

@media screen and (min-width:1500px) {
    .editHeroTitle {
        font-size: 70px;
    }

    .editHeroSubtitle {
        width: 55%;
    }
}