.courseMedia {
    width: 95%;
    padding: 1rem auto;
    margin: auto;
}

.courseMediaContainer1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .75rem initial;
}

.courseMediaContainer1>div {
    min-height: 40px !important;
    padding: unset initial !important;
    width: unset !important;
}

.courseMediaActive {
    cursor: no-drop !important;
    opacity: .8;
}

.courseMedia>h1 {
    padding-top: 0.5rem;
    font-size: 25px;
    font-weight: 600;
}

.courseMediaContainer2 {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #64748b33;
    backdrop-filter: blur(8px);
    box-shadow: inset 0 2px 4px 0 #334155;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.courseMediaContainer2 h5 {
    cursor: pointer;
}

.courseMediah5Active {
    color: #ef4444;
}

.courseMedia>p {
    font-size: 18px;
    white-space: pre-line;
    margin-bottom: 0.75rem;
}

.courseMediaLinks {
    margin-bottom: 1.25rem;
}

.courseMediaLinks>a {
    display: inline-block;
    color: #4395c4;
}

.courseMediaQna {
    display: flex;
    width: 100%;
}

.courseMediaQna>img,
.courseMediaReviewsContainer>img,
.courseMediaReviewsItem>div>div:first-child>img,
.courseMediaReviewAck img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 99%;
    -webkit-border-radius: 99%;
    -moz-border-radius: 99%;
    -ms-border-radius: 99%;
    -o-border-radius: 99%;
}

.courseMediaQna>textarea {
    outline: none;
    background-color: transparent;
    margin-left: 0.75rem;
    border: 1px solid #ffffff57;
    padding: 0.5rem;
    width: 90%;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.courseMediaQna2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.courseMediaQna2 {
    width: 120px !important;
    height: 40px !important;
    font-size: 18px;
    margin-top: 1.25rem;
}

.br {
    width: 100%;
    height: 1px;
    background-color: #ffffff3b;
}

.courseMediaReviews,
.courseMediaReviewsContainer>div {
    width: 100%;
}

.courseMediaReviewsContainer {
    display: flex;
    width: 100%;
}

.courseMediaReviewsContainer h5 {
    padding-left: 0.75rem;
    font-size: 20px;
    font-weight: 500;
}

.courseMediaReviewsContainer h5>span {
    color: #ef4444;
}

.courseMediaReviewsRating {
    display: flex;
    width: 100%;
    margin-left: 0.5rem;
    padding-bottom: 0.75rem;
}

.courseMediaReviewsContainer textarea {
    outline: none;
    background-color: transparent;
    border: 1px solid #ffffff57;
    width: 95%;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.courseMediaReviewsSubmit {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.courseMediaReviewsSubmit>div {
    width: 120px !important;
    height: 40px !important;
    font-size: 18px;
    margin-top: 1.25rem;
    margin-right: 0.5rem;
}

.courseMediaReviewsList {
    width: 100%;
}

.courseMediaReviewsItem {
    width: 100%;
    margin: 1.25rem initial;
}

.courseMediaReviewsItem>div {
    width: 100%;
    display: flex;
}

.courseMediaReviewsItem>div>div:last-child {
    margin-left: 0.5rem;
}

.courseMediaReviewsItem>div>div:last-child>h1 {
    font-size: 18px;
}

.courseMediaReviewsItem>div>div:last-child>small {
    color: #ffffff83;
}

.courseMediaReviewsItem span {
    display: block;
    margin-left: 2.5rem !important;
    cursor: pointer;
}

.courseMediaReviewReply {
    width: 100%;
    display: flex;
    position: relative;
}

.courseMediaReviewReply>input {
    display: block;
    margin-top: 0.5rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #000;
    padding: 5px;
    width: 95%;
}

.courseMediaReviewReply>button {
    position: absolute;
    right: 0;
    bottom: 0.25rem;
}

.courseMediaReviewAck {
    width: 100%;
    display: flex;
    margin: 1.25rem initial;
}

.courseMediaReviewAck>div:last-child {
    padding-left: 0.5rem;
}

.courseMediaReviewAck h5 {
    font-size: 20px;
}

.courseMediaReviewAck small {
    color: #ffffff83;
}

@media screen and (min-width:800px) {
    .courseMedia {
        width: 86%;
    }

    .courseMediaContainer2 h5 {
        font-size: 20px;
    }

    .courseMediaLinks>h2 {
        font-size: 20px;
        display: inline-block;
    }

    .courseMediaLinks>a {
        font-size: 20px;
        padding-left: 0.5rem;
    }

    .courseMediaQna>textarea {
        width: 100%;
        font-size: 18px;
    }

    .courseMediaReviewsContainer textarea {
        margin-left: 0.75rem;
        width: 100%;
    }

    .courseMediaReviewsSubmit>div {
        margin-right: 0;
    }

    .courseMediaReviewReply>input {
        margin-left: 3rem;
    }

    .courseMediaReviewAck {
        margin-left: 4rem;
    }
}