.updatePassword {
    width: 100%;
    padding-left: 7px;
    padding-right: 2px;
}

.updatePassword>h1 {
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    color: #fff;
    padding-bottom: 2px;
}

.updatePassword>div {
    width: 100%;
}

.updatePassword form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updatePasswordContainer {
    width: 100%;
    margin-top: 5px;
}

.updatePasswordContainer>label {
    display: block;
    padding-bottom: 0.5rem;
}

.updatePasswordInput {
    width: 95%;
    margin-bottom: 1rem;
}

.updatePasswordBtn{
    width: 95%;
    height: 40px;
    border-color: #37a39a;
    text-align: center;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

@media screen and (min-width:800px) {
    .updatePassword {
        padding-left: 0;
        padding-right: 5px;
    }

    .updatePassword>h1 {
        font-size: 30px;
    }

    .updatePasswordContainer {
        width: 60%;
    }
    .updatePasswordInput{
        margin-bottom: 0;
    }
}