.dashboard {
    display: flex;
    height: 100vh;
}

.dashboardSidebar {
    width: 20%;
}

.dashboardMain{
    width: 85%;
}

@media screen and (max-width:1500px) {
    .dashboardSidebar {
        width: 16%;
    }
}