.dashboard {
    display: flex;
    height: 100vh;
}

.dashboardSidebar {
    width: 20%;
}

.dashboardMain {
    width: 85%;
}

.dashboardContainer {
    margin-top: 30px;
    min-height: 100vh;
}

.dashboardContainer>div {
    display: grid;
    grid-template-columns: 75% 25%;
}

.dashboardContainer>div>div:first-child {
    padding: 2rem;
}

.dashboardContainer>div>div:nth-child(2) {
    padding-top: 80px;
    padding-right: 2rem;
}
.dashboardContainer>div>div:nth-child(2)>div{
    width: 100%;
    box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: .125rem;
    -webkit-border-radius: .125rem;
    -moz-border-radius: .125rem;
    -ms-border-radius: .125rem;
    -o-border-radius: .125rem;
}

@media screen and (max-width:1500px) {
    .dashboardSidebar {
        width: 16%;
    }
}