.commentItem {
    margin: 1rem initial;
}

.commentItem>div {
    display: flex;
    margin-bottom: 0.5rem;
}

.commentItem img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.commentItemContainer {
    padding-left: 0.75rem;
}

.commentItemContainer>h5 {
    font-size: 20px;
}

.commentItemContainer>small {
    color: #ffffff83;
}

.commentItemContainer2 {
    width: 100%;
    display: flex;
}

.commentItemContainer2>span:first-child {
    cursor: pointer;
    margin-right: 0.5rem;
}

.commentItemContainer2>span:last-child {
    padding-left: 0.25rem;
    margin-top: -4px;
    cursor: pointer;
    color: #ffffff83;
}

.commentItemReplies {
    width: 100%;
    display: flex;
    margin: 1.25rem initial;
}

.commentItemReplies img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 99%;
    -webkit-border-radius: 99%;
    -moz-border-radius: 99%;
    -ms-border-radius: 99%;
    -o-border-radius: 99%;
}

.commentItemReplies>div:nth-child(2) {
    padding-left: 0.5rem;
}

.commentItemReplies>div:nth-child(2)>h5 {
    font-size: 20px;
}

.commentItemReplies>div:nth-child(2)>small {
    color: #ffffff83;
}

.commentItemAns {
    width: 100%;
    display: flex;
    position: relative;
}

.commentItemAns>input {
    display: block;
    margin-top: 0.5rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #00000027;
    padding: 5px;
    width: 95%;
}

.commentItemAns>button {
    position: absolute;
    right: 0;
    bottom: 1rem;
}

@media screen and (min-width:800px) {
    .commentItemContainer2>span:first-child {
        padding-left: 4rem;
    }

    .commentItemReplies {
        margin-left: 4rem;
    }

    .commentItemAns>input {
        margin-left: 3rem;
    }
}