.profile {
    width: 85%;
    display: flex;
    margin: initial auto;
}

.profileContainer {
    width: 60px;
    height: 450px;
    border-color: #ffffff1d;
    left: 30px;
    /* background-color: #0f172a; dark */
    opacity: .9;
    /* box-shadow: 0 1px 2px 0 #0000000d; decide later */
    top: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: sticky;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.scroll {
    top: 120px !important;
}

.profileContainer2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-top: 80px;
}

.profileContainer3 {
    width: 100%;
    padding: initial .5rem;
    padding-left: 1.75rem;
}

.profileContainer3>div {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
}
.profileContainer3>h1{
    text-align: center;
    font-size: 18px;
}

@media screen and (min-width:768px) {
    .profileContainer3>div {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 25px;
    }
}

@media screen and (min-width:800px) {
    .profileContainer {
        width: 310px;
    }

    .profileContainer3 {
        padding: initial 2.5rem;
        padding-left: 2rem;
    }
}

@media screen and (min-width:1280px) {
    .profileContainer3>div {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 35px;
    }
}