.courseOptions{
    width: 100%;
    display: flex;
    padding: 1.25rem initial;
}
.courseOptionsContainer{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 99%;
    -webkit-border-radius: 99%;
    -moz-border-radius: 99%;
    -ms-border-radius: 99%;
    -o-border-radius: 99%;
}
.courseOptionsItem{
    position: absolute;
    height: 30px;
    width: 0.25rem;
    bottom: -100%;
}
.select{
    background-color: #3b82f6;
}
.notSelect{
    background-color: #384766;
}